.choose {
  margin: 60px 30px;
}
.choose h2 {
  font-size: clamp(48px, 8vw, 185px);

  font-weight: 400;
  margin-bottom: 30px;
}

.choose-content {
  display: flex;
  gap: 50px;
}

.choose-message {
  max-width: 40vw;
}
.choose-message p{
  
  font-size: clamp(12px, 6vw, 42px);
}

.choose span {
  font-weight: 600;
}

.choose-points ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.choose-points li {
  padding: 16px 28px;
  border: 1px solid #fff;
  border-radius: 5vw;
  
  font-size: clamp(12px, 4vw, 42px);
  font-weight: 400;
}

.choose-points li:nth-last-of-type(even) {
  opacity: 0.5;
}
