.review{
    padding: 40px 25px;
}

.reviews{
    display: inline-flex;gap: 10px;
}
.review-item{
    width: 100vw;
}
.review h2{
    
    font-size: 80px;
    font-size: clamp(24px, 8vw, 80px);
    font-weight: 400;
    width: 90%;
    color: #f4efe7;
    margin: 60px 0;
}

.review-user{
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
}
.review-user img{
    width: 65px;
    height: 55px;
    border-radius: 30px;
}
.review-nav{

}
.review-arrows {
    display: flex;
    gap: 10px;
}
.review-arrows .arrow{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #f4efe7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.arrow svg{
    width: 24px;
}