.location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.location span{
    color: rgb(177, 166, 150);
    margin-bottom: 60px;
    font-weight: 600;
}
.location h2{
    text-align: center;
    font-size: clamp(5vw, 7vw, 10vw);
    color: rgb(244, 239, 231);
    font-weight: 400;
}
.location a{
    text-decoration: underline;
}
.location .learnmore{
    
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(-50%);
}