.hero {
  background-size: cover;
  height: 100vh;
  border-radius: 30px;
  padding: 30px;
  position: relative;
  margin: 10px;
}

.hero h1 svg{
  width: 60vw;
}
.hero .top {
  display: flex;
  justify-content: space-between;
}
.hero .button svg {
  width: 16px;
  height: 16px;
}
.hero  .button {
  max-width: 250px;
  height: 54px;
  background-color: white;
  border-radius: 5vw;
  padding: 12px 24px;
  color: #1f1d1c;
  display: inline-block;
}
.hero  .button.reserve {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero  .button.menu {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}
.hero  .button span {
  background-color: #1f1d1c;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
  position: relative;
}

.hero  .button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
svg {
  width: 50px;
}
.fixed {
  position: fixed;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
  z-index: 10;
}
.hero .bottom {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.hero .bottom p {
  font-size: 30px;
  font-weight: 500;
  max-width: 220px;
}
.hero .bottom span {
  font-weight: 600;
  max-width: 320px;
  text-align: right;
}

.hero.center .reserve{
display: none;
}

.hero.center {
  position: relative;
}
.hero.center h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ham-menu{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #2a2725;
  border-radius: 30px;
  padding: 10px;
  z-index: 6;
}
.contact-icons ul{
    display: flex;
}

.contact-icons li{
    height: 60px;
    width: 60px;
    border: 1px solid #b1a696;
    border-radius: 50%;
    display: flex;justify-content: center;align-items: center;
}

.contact-icons svg{
    height: 24px;
    width: 24px;
}
.hero .footer,.ham-meu-wrap{
  display: flex;
  justify-content: space-between;
}
.ham-menu-left{
  width: 100%;
  padding: 30px;
  position: relative;
}
nav a{
 font-size: 6vw;
}
.footer{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.footer p{
  font-size: 18px;
  color: #b1a696;
  font-weight: 600;
}
.ham-menu-right{
  width: 30vw;
}
.ham-menu-right img{
  min-width: 30vw;
  width: 100%;
  height: calc(100vh - 40px);
  object-fit: cover;
  object-position: center center;
  border-radius: 25px;
}