.hero {
  background-size: cover;
  height: 100vh;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}

.hero h1 svg{
  width: 60vw;
}
.hero .top {
  display: flex;
  justify-content: space-between;
}
.hero .button svg {
  width: 16px;
  height: 16px;
}
.hero  .button {
  max-width: 250px;
  height: 54px;
  background-color: white;
  border-radius: 5vw;
  padding: 12px 24px;
  color: #1f1d1c;
  display: inline-block;
}
.hero  .button.reserve {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero  .button.menu {
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 5;
}
.hero  .button span {
  background-color: #1f1d1c;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
  position: relative;
}

.hero  .button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
svg {
  width: 50px;
}
.fixed {
  position: fixed;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
  z-index: 5;
}
.hero .bottom {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.hero .bottom p {
  font-size: 30px;
  font-weight: 500;
  max-width: 220px;
}
.hero .bottom span {
  font-weight: 600;
  max-width: 320px;
  text-align: right;
}

.hero.center .reserve{
display: none;
}

.hero.center {
  position: relative;
}
.hero.center h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}