.hero {
  background-image: url("../../assets/banner.png");
  background-size: cover;
  height: 100vh;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}

.hero h1 {
  font-size: 64px;
  font-weight: 600;
}
.top {
  display: flex;
  justify-content: space-between;
}
.hero .button svg {
  width: 16px;
  height: 16px;
}
.button {
  max-width: 250px;
  height: 54px;
  background-color: white;
  border-radius: 5vw;
  padding: 12px 24px;
  color: #1f1d1c;
  display: inline-block;
}
.button.reserve {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.button.menu {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
}
.button.menu span {
  background-color: #1f1d1c;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
  position: relative;
}

.button.menu svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
svg {
  width: 50px;
}
.fixed {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.bottom {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.bottom p {
  font-size: 24px;
  font-weight: 500;
  max-width: 180px;
}
.bottom span {
  font-weight: 600;
  max-width: 320px;
  text-align: right;
}
