.welcome {
  margin: 120px 30px;
  position: relative;
}

.welcome h2 {
  
  font-size: clamp(16px, 6vw, 60px);
  font-weight: 400;
  width: 90%;
}
.welcome-heading{
  position: relative;
}
.welcome-heading span{
  position: absolute;
  bottom: 0;
  background-color: #1f1d1c;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.welcome p {
  
  font-size: clamp(12px, 6vw, 42px);
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 60px 0;
}
.welcome-img {
  display: flex;
}
.welcome-img img {
  border-radius: 10vw;
  width:  clamp(20vw, 6vw, 15vw);
}

.welcome-message {
  max-width: 40vw;
}
.discover {
  position: absolute;
  font-weight: 600;
}
