.footer{
    padding: 40px 25px;
    min-height: unset;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-img svg{
    width: calc(100vw - 50px);
    margin: 60px 0
    
}