* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: #1f1d1c;
  color: #fff;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
section {
  height: 100vh;
}
