* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Host Grotesk", sans-serif;
  line-height: 1;
}
body {
  background-color: #1f1d1c;
    color: rgb(244, 239, 231);
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
section {
  min-height: 100vh;
}
