.discovery{
    margin: 30px;

}
.discovery span{
    
}
.discovery h2{
    font-size: clamp(42px, 8vw, 185px);
    font-weight: 400;
    margin: 30px 0 60px;
}
.discovery-content{
    display: flex;
    gap: 30px;
    align-items: start;
}
.levels{
    width: 100%;
}
.level-title{
    display: flex;justify-content: space-between;
    color: rgb(177, 166, 150);
    margin: 20px 0;
}

.level-title h4{
    font-size: 28px;
    font-size: clamp(12px, 4vw, 28px);
    font-weight: 400;
}
.level-bar{
    width: 100%;
    height: 2px;
    background-color: rgba(244, 239, 231, 0.2);
    position: relative;
}
.bar-level{
    position: absolute;
    background-color: #f4efe7;
    height: 2px;

}
.discovery-message p{
    font-size: clamp(12px, 4vw, 40px);
    color: rgb(177, 166, 150);

    max-width: 50vw;
}